# Spotify
SPOTIFY_CLIENT_ID=e12b9510fad9484083304e6b7156c794
SPOTIFY_CLIENT_SECRET=7b6ba977b3f14506a43ab9223ef574e5
SPOTIFY_REDIRECT_URI=http://localhost:3000/api/auth/spotify/callback

# LLM
OPENAI_API_KEY=tu_api_key_aqui

# BD
DATABASE_URL=postgresql://postgres:password@localhost:5432/linguaflow
REDIS_URL=redis://localhost:6379
MONGODB_URI=mongodb://localhost:27017/linguaflow

# Auth
JWT_SECRET=cambia_esto_por_un_string_largo_y_seguro
JWT_REFRESH_SECRET=otro_string_largo_y_seguro

# Puertos
MS_USUARIOS_PORT=3001
MS_CANCIONES_PORT=3002
API_GATEWAY_PORT=3000
